a:link, a:visited {
    background-color: aqua;
    color: azure;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
a:hover ,a:active {
    background: brown;
}

